[Desktop Entry]
Name=MetaGlyph
Comment=MetaGlyph Desktop Application
Exec=metaglyph %U
Icon=metaglyph
Terminal=false
Type=Application
Categories=Graphics;Development;Utility;
StartupWMClass=metaglyph
