[Desktop Entry]
Type=Application
Name=Metaglyph
Comment=Modern cross-platform desktop font browser and installer
Exec=metaglyph %U
Icon=metaglyph
Terminal=false
Categories=Graphics;Development;Utility;
StartupWMClass=metaglyph
StartupNotify=true
X-AppImage-Version=0.1.0

